body{
	margin: 0;
	padding: 0;
}

@media (max-width: 1224px){
   
   .i-grid-2{ display:grid; grid-template-columns: 50% 50%; }
   .i-grid-4{ display:grid; grid-template-columns: 25% 25% 25% 25%; }
   .i-grid-6{ display:grid; grid-template-columns: 16.7% 16.7% 16.6% 16.6% 16.7% 16.7%; }
   .i-grid-8{ display:grid; grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%; }
   .i-grid-10{ display:grid; grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%; }
   .i-grid-20-80{ display:grid; grid-template-columns: 20% 80%; }
   .i-grid-80-20{ display:grid; grid-template-columns: 80% 20%; }
   .i-grid-30-70{ display:grid; grid-template-columns: 30% 70%; }
   .i-grid-70-30{ display:grid; grid-template-columns: 70% 30%; }
   .i-grid-40-60{ display:grid; grid-template-columns: 40% 60%; }
   .i-grid-60-40{ display:grid; grid-template-columns: 60% 40%; }

}


@media (min-width: 600px) and (max-width: 1023px) {
    
}

@media (max-width: 600px) {
   
}