body{
	margin: 0;
	padding: 0;
}

.i-border-radius-2{ border-radius: 2px; }
.i-border-radius-4{ border-radius: 4px; }
.i-border-radius-6{ border-radius: 6px; }
.i-border-radius-8{ border-radius: 8px; }
.i-border-radius-10{ border-radius: 10%; }
.i-border-radius-30{ border-radius: 30%; }
.i-border-radius-40{ border-radius: 40%; }
.i-border-radius-50{ border-radius: 50%; }
.i-border-radius-100{ border-radius: 100%; }

.i-border-theme{ border: 1px solic #ccc; }

@media (max-width: 1224px){
   
   .i-grid-2{ display:grid; grid-template-columns: 1fr 1fr; }
   .i-grid-4{ display:grid; grid-template-columns: 1fr 1fr 1fr 1fr; }
   .i-grid-6{ display:grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; }
   .i-grid-8{ display:grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }
   .i-grid-10{ display:grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }
   .i-grid-20-80{ display:grid; grid-template-columns: 2fr 8fr; }
   .i-grid-80-20{ display:grid; grid-template-columns: 8fr 2fr; }
   .i-grid-30-70{ display:grid; grid-template-columns: 3fr 7fr; }
   .i-grid-70-30{ display:grid; grid-template-columns: 7fr 3fr; }
   .i-grid-40-60{ display:grid; grid-template-columns: 4fr 6fr; }
   .i-grid-60-40{ display:grid; grid-template-columns: 6fr 4fr; }

}

@media (min-width: 600px) and (max-width: 1023px) {
    
}

@media (max-width: 600px) {
   
}